@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#main-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  margin-top: 6vw;
  margin-left: -30px;
  margin-right: -30px;
  padding-bottom: 6vw;
  color: aliceblue;
}

h1 {
  font-size: 80px;;
}

h2 {
  font-size: 60px;
}

button {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 8px;
  background-color: transparent;
  color: #FFF;
  padding: 10px;
  border: 2px solid #FFF;
}
button:hover {
  background-color: #1a6eac;
}
  
  